name: on-pull-request
on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Lint CDK
        run: npm run lint:cdk

      - name: Build CDK
        run: npm run build:cdk

      - name: Test CDK
        run: npm run test:cdk

      - name: Lint Material
        run: npm run lint:material

      - name: Build Material
        run: npm run build:material

      - name: Test Material
        run: npm run test:material
