name: on-pull-request
on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-lint-test-cdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm ci

      - run: npm run lint:cdk
      - run: npm run build:cdk
      - run: npm run test:cdk

  build-lint-test-material:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm ci

      - run: npm run build:cdk
      - run: npm run lint:material
      - run: npm run build:material
      - run: npm run test:material
